@font-face {
    font-family: 'karlaextrabold';
    src: url('karla-extrabold-webfont.woff2') format('woff2'),
         url('karla-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Inter Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Inter Regular'), url('Inter-Regular.woff') format('woff');
    }

@font-face {
        font-family: 'Inter Medium';
        font-style: normal;
        font-weight: normal;
        src: local('Inter Medium'), url('Inter-Medium.woff') format('woff');
        }


#mainBody{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top:3%;
}
body {
    overflow: hidden;
    /* Great find from Wilsito. The use of scale makes rezizing all the HTML elements at once super easy. */
    transform: scale(2.5);
    transform-origin: 0 0;
    width: 100%;
    height : 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(31,41,55);
}
h1{
    font-family: 'karlaextrabold';
    display: flex;
    flex-direction: column;
    color: white;    
}
span{
    font-family: 'karlaextrabold';
    color:rgb(16,185,129);
    margin-bottom: -10%;
}

p{
    font-family: 'Inter Regular';
    color:rgb(170,172,179);
}

button{
    width:fit-content;
    font-family: 'Inter Medium';
    font-size:x-small;
    background-color: rgb(16,185,129);
    border-radius: 5%;
    color: white;
    border-color: transparent;
    padding: .5vh .5vw;
    margin-bottom: 2%;
    margin-top: 3%;
    line-height:normal;
}
/* Instead of using CSS hover we used an event listener to toggle between the classes. */
.buttonOver{
    background-color: white;
    color:rgb(16,185,129);
}
hr{
    background-color:#2F3E53;
    width: 105%;
    border: none;
    height: 1px;
}
.copyButton{
    margin-left: 5vw;
    display:flex;
    flex-direction: column;
}
#copy2{
    margin-top: .5vw;

}

#passwordContainers{
    width: max-content;
    height:fit-content;
     display:flex;
     flex-direction: column;
     flex-wrap: nowrap;
}
#passwordContainers :nth-child(2){
    margin-top: 4%
}
.passwordConts{
    font-family: 'Inter Medium';
    font-size: .8em;
    display: block;
    row-gap: 20%;
    background-color:rgb(39,53,73); 
    color: #55F991;
    height: 100vh;
    max-height: 3vh;
    min-height: fit-content;
    min-width:8.5vw;
    max-width: fit-content;
    border-radius:5%;
    margin-top: 3%;
    padding: 2% 2% 0%;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap; 
}
.statsBox{
    display: flex;
    flex-direction: row;
}
.fit{
    max-width: 6.5vw;
    min-width: fit-content;
}



form{
    display:flex;
    flex-direction: column;
    width:fit-content;
    height:fit-content;
    margin-left: 5%;
}

label{
    font-family: 'Inter Medium';
    font-size:x-small;
    color:white;
    padding-bottom: 6%
}
input{
    width: 4.8vw;
}
#Length{
    font-family: 'Inter Medium';
    font-size:x-small;
    padding-bottom: 6%
}
.contentBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 8%;
}
